.top-word{
  position: relative;
  font-size: 18px;
}
.top-word img{
  width: 30px;
}
.main-content .left-content{
  width: 700px;
}
.main-content .right-content{
  width: 240px;
}
.blog-content{
  margin-top: 55px;
}
.blog-content .small-box:nth-child(2n){
  margin-right: 0px;
}
.blog-content .small-box{
  position: relative;
  float: left;
  border-radius: 6px;
  width: 330px;
  height: 390px;
  margin-bottom: 60px;
  margin-right: 40px;
}
.blog-content .box .blog-link{
  display: block;
  width: 100%;
  height: 100%;
}
.blog-content .box .clip{
  width: 50px;
  position: absolute;
  right: 0;
  margin-right: -18px;
  margin-top: -31px;
  z-index: 2;
}
.blog-image{
  height: 200px;
  position: relative;
  background-size: cover;
  border-radius: 6px 6px 0px 0px;
  background-position: center;
}
.blog-image:hover{
  opacity: 0.85;
}
.blog-image .date-back{
  position: absolute;
  color: #fff;
  z-index: 1;
  width: 100%;
  border-radius: 6px 6px 0px 0px;
  padding: 6px 0px;
  background-color: rgba(0,0,0,0.5);
  font-size: 12px;
}
.blog-image .date{
  margin-left: 10px;
}
.blog-inner{
  padding: 15px;
}
.blog-inner .title{
  font-size: 18px;
  color: #555;
  display: inline;
}
.blog-inner .title:hover{
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #FFFFFF 60%, #FBDD00 61%, #FBDD00 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 60%, #FBDD00 61%, #FBDD00 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #FFFFFF 60%, #FBDD00 61%, #FBDD00 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(0.6, #FFFFFF), color-stop(0.61, #FBDD00), color-stop(1, #FBDD00));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #FFFFFF 60%, #FBDD00 61%, #FBDD00 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 60%, #FBDD00 61%, #FBDD00 100%);
}
.blog-inner p{
  font-size: 14px;
  color: #aaa;
}