.top-word{
  position: relative;
  font-size: 18px;
}
.top-word img{
  width: 30px;
}
.main-content .left-content{
  width: 700px;
}
.main-content .right-content{
  width: 240px;
}
.blog-content{
  margin-top: 55px;
}