.top-head{
  height: 300px;
  width: 100%;
  background: url(../img/top.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top-head h1{
  color: #fff;
  font-size: 60px;
  padding-top: 70px;
  margin-left: 30px;
  text-shadow: 1px 2px 2px rgba(52,85,43,0.8);
}
.main-content{
  padding-top: 30px;
}
.main-content .left-content, .main-content .right-content{
  float: left;
}
.main-content .left-content{
  width: 700px;
}
.main-content .right-content{
  width: 240px;
  margin-left: 40px;
}
.main-content .right-content .ad{
  border: 5px solid #EDCA2F;
  margin-bottom: 20px;
  box-shadow: 0px 1px 3px rgba(34,50,24,0.6);
  box-sizing: border-box;
}
.main-content .right-content .ad img{
  width: 100%;
  display: block;
}
.box{
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(34,50,24,0.6);
  margin-bottom: 20px;
}
.title-back{
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(top, #EDCA2F 0%, #EDCA2F 50%, #DDBE34 50.1%, #DDBE34 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #EDCA2F 0%, #EDCA2F 50%, #DDBE34 50.1%, #DDBE34 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #EDCA2F 0%, #EDCA2F 50%, #DDBE34 50.1%, #DDBE34 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EDCA2F), color-stop(0.5, #EDCA2F), color-stop(0.501, #DDBE34), color-stop(1, #DDBE34));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #EDCA2F 0%, #EDCA2F 50%, #DDBE34 50.1%, #DDBE34 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to bottom, #EDCA2F 0%, #EDCA2F 50%, #DDBE34 50.1%, #DDBE34 100%);
}
.title-back .title{
  color: #fff;
}
.title-back h2{
  font-size: 18px;
  padding: 6px 17px;
}
.box-content{
  padding: 20px 17px;
}
.box.large-box.newsfeed-box .box-content{
  height: 250px;
  overflow: scroll;
}
.box.large-box.newsfeed-box .box-content ul li{
  margin-bottom: 20px;
}
.box.large-box.newsfeed-box .box-content ul li .date{
  color: #999;
}
.box.large-box.newsfeed-box .box-content ul li .category a{
  background-color: #90bc35;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 12px;
  margin: 0px 10px;
}
.box.small-box{
  width: 330px;
  height: 350px;
  margin-bottom: 40px;
  float: left;
}
.box.small-box.about-box{
  margin-right: 20px;
}
.box.small-box.service-box{
  margin-left: 20px;
}
.box.small-box .box-content img{
  width: 100%;
  border-radius: 4px;
}
